/*div
{
    border: 0.25px solid red;
}
.deng
{
    background-color: #b1d3ff;
    width: 20%;
    height: 10%;
    z-index: 1;
    position: absolute;
    
}*/

.profile
{
    width: 183px;
    height: 183px;
    background-image: url(https://www.quotev.com/quizi/12894798/2/1597603900);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;

}
.profile:hover(){
    width: 200px;
    height: 200px;

}
.notify
{
    width: 30px;
    height: 30px;
    background-color: rgb(31, 72, 126);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom : 15px;
    right : 15px;
    color: #ffffff;
}
.pf{
    width: 100%;
    justify-items: center;
    display: grid;
}
body{
    background-color: rgb(255, 255, 255);
}
table{
    width: 100%;
    text-align: center;
    
}
.ming:hover {
    color: rgb(64, 57, 160);

}
.ming{
    color: rgb(0, 0, 0);
}
.add_lst
{
    width: 100%;
    display: grid;
    justify-items: center;
}
.add_title
{
    text-align: center;
}
.add-lst-sort
{
    display: flex;
    padding: 20px;
    width: 50%;
    justify-content: space-evenly;
}
.name-sort
{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.profile-sort
{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    padding: 20px;
}
th, td {
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    background-color: rgb(31, 72, 126);
    color: rgb(255, 255, 255);
    border: 55px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: rgb(216, 143, 143);
    color: bisque;
}
.khobbon
{
    background-color: #1f487e;
    padding: 20px;
    margin: 0;

}
.langsud
{   
    background-color:rgb(31, 72, 126);
    color: #ffffff;
    text-align: center;
}
tr{
    background-color: aliceblue;
}
th{
    background-color: #1f487e;
    color: #ffffff;
}
table{
    
    width: 50%;
}
.tb{
    justify-content: center;
    flex-direction: row;
    display: flex;
}